<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"  type="text/css" href="/css/loginAll_style.css">
</head>
<body>

<div class="center">
<div class="container">
  <form action="" method="post" th:action="@{/user/createUser}">
    <div class="row">
 
      <div class="vl">
        <span class="vl-innertext">or</span>
      </div>

      <div class="col">
      <input type="submit" value="Login as a Customer">
      </div>

      <div class="col">
      <input type="submit" value="Login a Vendor/Supplier">
      </div>
      
    </div>
  </form>
</div>
</div>
</body>
</html>
