<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Services link in Your area</h2>

<table>
  <tr>
    <th>Shop Name</th>
    <th>Shop URL</th>
    <th>Shop Owner Name</th>
    <th>Shop Address</th>
  </tr>
  <tr>
    <td>Chilly Kart</td>
    <td><a href="https://grocery.walmart.com/cp/Grilling/1256653758298">www.allay.com/Chillykart</a></td>
    <td>Rahul Aggrawal</td>
    <td>Street Number 6, Chattarpur Enclave-2, Chhatarpur, New Delhi, Delhi 110074</td>
  </tr>
  <tr>
    <td>Punjabi Milk</td>
    <td><a href="http://localhost:8080/viewItem">www.allay.com/PunjabiMilk</a></td>
    <td>Sunny Deol</td>
    <td>Street Number 10, Chattarpur Enclave-1, Chhatarpur, New Delhi, Delhi 110074</td>
  </tr>
  <tr>
    <td>Ritu Fashion</td>
    <td>www.allay.com/RituFashion</td>
    <td>Ritu Malhotra</td>
    <td>Street Number 2, Chattarpur Enclave-2, Chhatarpur, New Delhi, Delhi 110074</td>
  </tr>
  <tr>
    <td>Sharma Medicals</td>
    <td>www.allay.com/SharmaMedicals</td>
    <td>Vijay Sharma</td>
    <td>Street Number 19, Chattarpur Enclave, Chhatarpur, New Delhi, Delhi 110074</td>
  </tr>
</table>

</body>
</html>
