<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<h2>Item Search Criteria</h2>
      <input type="text" placeholder="Search.." name="search"><br>
	  <h2>Item Category Filter Criteria</h2>
      <input type="checkbox" name="Grocery" value="Grocery">
<label for="Grocery"> Grocery</label><br>
<input type="checkbox" name="Medicine" value="Medicine">
<label for="Medicine">Medicine</label><br>
<input type="checkbox" name="Gift" value="Gift">
<label for="vehicle3">Gift</label><br>
 	<h3>Item Details</h3>
	<label for="Rice"> Rice</label><br>
<label for="Rice"> Rs/50kg</label><br>
<label for="Rice">Add Quantity +  --</label><br>
<img src="/img/rice.jpeg" width="200" height="200">
<label for="Rice"> Total Price: Rs.500</label><br>
<input type="submit" name="submit" value="Pay Now">
	
</body>
</html>
